<div class="grid-card mt-5 mb-3">
  <div class="card-advice">
    <%= image_tag "advicel.jpg", class:"advice-avatar"%>
    <h3 class="job-advice">Fullstack dev de Branches</h3>
    <h4 class="flex-grow">Luc Laurent</h4>
    <p class="paragraph-advice">Les animations sont tarpin bien. Mon portefeuille d'actifs est incroyable.</p>
  </div>
  <div class="card-advice">
    <%= image_tag "advicem.jpg", class:"advice-avatar"%>
    <h3 class="job-advice">PDG de CoStock</h3>
    <h4 class="flex-grow">Matthieu Assié</h4>
    <p class="paragraph-advice">Je recommande ce site, j'ai fait des profits assez costoques !!!</p>
  </div>
  <div class="card-advice">
    <%= image_tag "advicet.jpg", class:"advice-avatar"%>
    <h3 class="job-advice">Manager de Poules</h3>
    <h4 class="flex-grow">Thibault Fitte-Duval</h4>
    <p class="paragraph-advice">La page produit est parfaite, aucun problème !</p>
  </div>
</div>
