.login {
  color: black;
  .title-log-in {
    color: #0369B4;
    font-weight: 600;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
  }
}

.signup {
  color: black;
  .title-sign-up {
    color: #0369B4;
    font-weight: 600;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
  }
}
