
.avatar-large {
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;

}

.collectible-show-card{
  border-radius: 30px;
}

.side-navbar {
  background-color: #F1F1EC;
  position: sticky;
  height: 100vh;
  top: 0;
}

.nft-list-transaction{
  overflow: hidden;
  height: 80px;
  background: white;
  box-shadow: 0 10px 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.nft-category-card{
display: -webkit-inline-box;
padding: inherit;
margin: 15px 15px 0px 1px
}
