
.avatar-large {
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;

}

.collectible-show-card{
  border-radius: 30px;
}

.side-navbar {
  background-color: #F1F1EC;
  position: sticky;
  height: 100vh;
  top: 0;
}

.nft-list-transaction{
  overflow: hidden;
  height: 55px;
  background: white;
  box-shadow: 0 8px 11px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center ;
  border-radius: 8px;
    .nft-title {
      font-weight: 600;
    }
}

.nft-list-transaction>.div {
      padding: 0;
      margin: 0;
    }

.title-nft-list {
  margin: 0;
  font-size: 12px;
  color: rgb(189, 189, 189);
  padding-bottom: 0px;
}

.nft-category-card{
  display: -webkit-inline-box;
  padding: inherit;
  margin: 15px 15px 0px 1px;
  align-items: center;
}


.top-cards {
  display: flex;
  justify-content: space-evenly;
}

.portfolio {
  overflow: hidden;
  display: flex;
  height: 50px;
  width: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  justify-content: center;
  align-items: center;
  margin: 6px;

  P {
    margin: 0;
    padding: 12px;
    font-weight: 700;
    color: #044A7E;
  }
  .sticker {
    height: 24px;
    width: 24px;
  }
}

.portfolio:hover {
  background: rgb(240, 240, 240);
}

.portfolio-container {
  h4 {
    color: #044A7E;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
  }
}

.balance {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.your-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary-portfolio {
  overflow: hidden;
  width: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  justify-content: center;
  align-items: center;
  margin: 6px;
    p {
      padding: 0;
      color: #044A7E;
      text-align: center;
      padding-top: 14px;
    }
  }

  .chart {
    height: 300px;
    overflow: hidden;
    border: 1px solid #044A7E;
  }

  .my-nfts {
    text-align: center;
    width: 900px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nft-container {
    display: flex;
    justify-content: center;
  }

  .bids-asks {
    width: 900px;
    margin-top: 24px;;
  }
