@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



.nav-link-show{
  display: flex;
}
  .btn-ask-cell{
  background:  #DA2C16;
  background-size: 100% 100%;
  color: white;
  padding-top: 16px ;
    border-radius: 0%;
    border: none;
  background-position: right bottom;
  text-align: center;
  }


.collectible-show-container{
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
  //border: 1px solid black; // a enlever
  box-shadow: black;

  h1{
    font-size: 24px;
    color: #038AD4;
    font-family: 'Montserrat', sans-serif;
  }
  p{
    color: gray;
    text-align: justify;
  }
}

  .description-product{
    border-top: 1px solid grey;
    width: 500;

 }

.description-product-title h3 {
//display: grid;
width: 200px;
background-color: #038AD4;
color: white;
font-size: 14px;
margin-top: 4px;
margin-left: 4px;
padding: 20px;
font-weight: 700;
text-align: center;
font-size: 16px;
}


.price-size{
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
}

.line{
width: 630px;
height: 47px;
border-bottom: 1px solid black;
}

.description-show-details{
  font-weight: 500;
  font-size: 20px;
  color: #038AD4;
}

.description-show-titles{
color: #0094FF !important;
font-size: 16px;
}
