@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// objet


// les buttons
// .btn-create-ask{
//   width: 100px;
//   background-color:#DA2C16;
//   color: white;
//   border-radius: 0%;


// }

// .btn-create-sell{
//   width: 100px;
//   background-color:#DA2C16;
//   color: white

// }
// .btn-create-bid{
//   width: 100px;
//   background-color:#00492F;
//   border: none;
//   border-radius: 0%;
//   display: flex;
//   //margin-left: 10px;
// }

// .btn-create-buy{
//   width: 100px;
//   background-color:#00492F;
//   border: none;
//   color: white;
// }

//  .btn-buy-bid{
//   background: #00492F 50% ;
//   background-size: 100% 100%;
//   color: white;
//   padding-top: 16px;
//   background-position: right bottom;
//   border: none;
//   //width: 200px;
//  }

  .btn-ask-cell{
  background:  #DA2C16;
  background-size: 100% 100%;
  color: white;
  padding-top: 16px ;
    border-radius: 0%;
    border: none;
  background-position: right bottom;
  text-align: center;
  }


.collectible-show-container{
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
  //border: 1px solid black; // a enlever
  box-shadow: black;

  h1{
    font-size: 24px;
    color: #038AD4;
    font-family: 'Montserrat', sans-serif;
  }
  p{
    color: gray;
    text-align: justify;
  }
}

  .description-product{
    border-top: 1px solid grey;
    width: 500;

 }

#description-product-title h3 {
//display: grid;
width: 140px;
background-color: #038AD4;
color: white;
font-size: 14px;
margin-top: 4px;
margin-left: 4px;
}

#accordion{
border: 1px solid black;
// display: flex;
justify-content: center;
align-items: center;
text-align: center;
position: absolute;
margin-top: 100px;
width: 600px;

//width: 100px;
}

.price-size{
  font-size: 24px;
  font-weight: bold;
}
