<div class="your-portfolio">
  <h2 class="subtitle" style="text-align: center">MES PORTFOLIOS</h2>
  <div class="div">

    <div class="portfolio">
      <%= image_tag "image-sneakers-banner.png", class: "sticker" %>
      <p>Sneakers</p>
    </div>

    <div class="portfolio">
      <%= image_tag "watchfilter.png", class: "sticker" %>
      <p>Watches</p>
    </div>

    <div class="portfolio">
      <%= image_tag "cardfilter.png", class: "sticker" %>
      <p>Trading Cards</p>
    </div>

    <div class="portfolio">
      <p>+ Ajouter</p>
    </div>

  </div>
</div>
