<h1>INdex des NFTS</h1>

<% @jordan = Nft.first %>
<% @collectible = Collectible.find(Nft.first.collectible_id) %>
<%= @collectible.brand %>
<%= @collectible.model %>
<%= @collectible.resell_value %>
