<div class="footer">
  <%= link_to "/", class: "footer-brand" do %>
    <%= image_tag "LogoCoStockFooter.png" %>
  <% end %>
  <div class="footer-links">
    <a href=""><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt=""></a>
    <a href=""><img src="https://cdn.icon-icons.com/icons2/2415/PNG/512/facebook_original_logo_icon_146526.png" alt=""></a>
    <a href=""><img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/25_social-256.png" alt=""></a>
    <a href=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-applications/64/social_media_applications_6-twitter-256.png" alt=""></a>
    <a href=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-applications/64/social_media_applications_14-linkedin-256.png" alt=""></a>
  </div>
</div>
