<div class="container-my-transaction">

  <div class="row " >
      <div class="div side-navbar col-12 col-lg-4 " >
        <div class="div nft-category-card">
          <h2>NFT Portfolio</h2>
        </div>

        <div class="div nft-category-card">
          <h2>Category Portfolio 📈</h2>
          <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        </div>

        <div class="div nft-category-card">
          <h2>Category Portfolio 👟</h2>
          <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        </div>

        <div class="div nft-category-card ">
        <h2>Category Portfolio ⌚</h2>
        <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        </div>
        <a class="btn btn-transaction" href="#"> + create a Portfolio</a>
        <a class="btn btn-transaction" href="#"> show ask</a>
        <a class="btn btn-transaction" href="#"> + show buids</a>
      </div>

      <div class="container col-12 col-lg-8">
        <div class="div card-category-current-balance" >
        <h2>Current balance </h2>
        <img src="https://image.freepik.com/vecteurs-libre/graphique-boursier-forex-concept-graphique_73426-35.jpg" />
        </div>

        <div class="div nft-list-transaction">
          <h2>nft list</h2>
          <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
              <p>name:</p>
              <p> introduction_price:</p>
              <p>name:</p>
              <p> current_price:</p>
              <p>name:</p>
              <p> user_id:</p>

        </div>
      </div>
  </div>
</div>
