.btn-stock{
  width: 250px;
  height: 55px;
  background-color: #038AD4;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
}
