.btn-login {
  border: solid 1px;
  color: #038AD4;
  border-radius: 8px;
  padding: 10px 35px 10px 35px;
}
.btn-signup {
  background-color: #038AD4;
  color: white;
  border-radius: 8px;
  padding: 10px 25px 10px 25px;
}


.btn-buy-bid, .btn-sell-ask {
  text-decoration: none !important;
  color: white;

  &:hover {
    color: white;
  }
}

.buy-bid {
  border-radius: 4px;
  background-color: rgb(0, 99, 64);
  margin: 6px;
  color: white;
  font-weight: 400;
  padding: 4px;

  &:hover {
    background-color: rgb(0, 73, 47);
  }
}

.ask-cell {
  border-radius: 4px;
  background-color: rgb(218, 44, 22);
  margin: 6px;
  color: white;
  font-weight: 400;
  padding: 4px;

  &:hover {
    background-color: rgb(174, 30, 11);

.btn-stock {
  width: 250px;
  height: 55px;
  background-color: #038AD4;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    text-decoration: none;
    color: #FFFFFF;

  }
}
