.btn-login {
  border: solid 1px;
  color: #038AD4;
  border-radius: 8px;
  padding: 10px 35px 10px 35px;
}
.btn-signup {
  background-color: #038AD4;
  color: white;
  border-radius: 8px;
  padding: 10px 25px 10px 25px;
}
