.btn-login {
  border: solid 1px;
  color: #038AD4;
  border-radius: 8px;
  padding: 10px 15px 10px 15px;
}

.btn-login:hover {
  text-decoration: none;
  color: #038AD4;
}

.btn-signup {
  background-color: #038AD4;
  color: white;
  border-radius: 8px;
  padding: 11px 25px 11px 25px;
}

.btn-signup:hover {
  text-decoration: none;
  color: white;
}


.btn-buy-bid, .btn-sell-ask {
  text-decoration: none !important;
  color: pink;

  &:hover {
    color: yellow;
  }
}

.buy-bid {
  border-radius: 4px;
  background-color: rgb(0, 99, 64);
  margin: 6px;
  color: white;
  font-weight: 400;
  padding: 4px;

  &:hover {
    background-color: rgb(0, 73, 47);
  }
}

.ask-cell {
  border-radius: 4px;
  background-color: rgb(218, 44, 22);
  margin: 6px;
  color: white;
  font-weight: 400;
  padding: 4px;

  &:hover {
    background-color: rgb(174, 30, 11);
  }
}

.btn-stock {
  width: 250px;
  height: 55px;
  background-color: #038AD4;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    text-decoration: none;
    color: #FFFFFF;

  }
}

.btn-sell-now {
  text-decoration: none;
  border-radius: 24px;
  background-color: rgb(218, 44, 22);
  color: white;
}
.btn-create-ask {
  text-decoration: none;
  border-radius: 24px;
  background-color: rgb(218, 44, 22);
  color: white;
  margin-bottom: 4px;
}

.btn-buy-now {
  text-decoration: none;
  border-radius: 24px;
  background-color: rgb(0, 99, 64);
  color: white;

}
.btn-create-bid {
  text-decoration: none;
  border-radius: 24px;
  background-color: rgb(0, 99, 64);
  color: white;
  margin-bottom: 4px;

}

.btn-transaction {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  display: grid;
  margin: 25px 25px 10px 15px
}

.btn-ghost:hover {
  opacity: 1;
}
