.btn-login {
  border: solid 1px;
  color: #038AD4;
  border-radius: 8px;
  padding: 10px 15px 10px 15px;
}

.btn-login:hover {
  text-decoration: none;
  color: #038AD4;
}

.btn-signup {
  background-color: #038AD4;
  color: white;
  border-radius: 8px;
  padding: 10px 25px 10px 25px;
  border: none;
}

.btn-signup:hover {
  text-decoration: none;
  color: white;
}
.btn-buy-bid{
background: linear-gradient(85.05deg, #2C8F42 14.68%, #31E8A6 102.39%);
border-radius: 39px;
text-decoration: none !important;
  color: white;
  border: none;
  text-align: center;
}

.btn-sell-ask {
  text-decoration: none !important;
  color: white;
  background: linear-gradient(81.61deg, #C95D37 24.91%, #FF7F52 77.24%);
border-radius: 39px;
  border: none;
  text-align: center;
}

.buy-bid {
  background-color: rgb(0, 99, 64);
  margin: 2px;
  color: white;
  font-weight: 400;
  padding: 2px;
  width: 200px;
  text-align: center;

  &:hover {
    background-color: rgb(0, 73, 47);
  }
}

.ask-cell {

  background-color: rgb(218, 44, 22);
  margin: 2px;
  color: white;
  font-weight: 400;
  padding: 2px;
  text-align: center;
  &:hover {
    background-color: rgb(174, 30, 11);
  }
}

.btn-stock {
  width: 250px;
  height: 55px;
  background-color: #038AD4;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #0369B4 50%, #038AD4 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  &:hover {
    text-decoration: none;
    color: #FFFFFF;
    // box-shadow: 0px 0px 5px 2px #0386E4;
    background-position: left bottom;
  }
}


.btn-sell-now {
  text-decoration: none;
  border-radius: 24px;
  background-color: rgb(218, 44, 22);
  color: white;
}
.btn-create-ask {
  background: linear-gradient(85.61deg, #5B609E 6.23%, #828BEF 122.02%);
  border-radius: 39px;
}

.btn-buy{
 background: rgba(4, 74, 126, 1);
border-radius: 39px;
width: 100px;
color: white;
}
.btn-create-bid {
 background: linear-gradient(85.01deg, #038AD4 12.33%, #62C7FF 104.82%);
border-radius: 39px;
color: white;
}
.btn-create-sell{
background-color: #F97C4F;
border-radius: 39px;
color: white;
width: 100px;
}
.btn-transaction {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  display: grid;
  margin: 25px 25px 10px 15px
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-sell-my-collectible {
  width: 250px;
  height: 55px;
  background-color: #038AD4;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #0369B4 50%, #038AD4 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  &:hover {
    text-decoration: none;
    color: #FFFFFF;
    // box-shadow: 0px 0px 5px 2px #0386E4;
    background-position: left bottom;
  }
}

.btn-filter {
  background-color: #038AD4;
  color: white;
  border-radius: 8px;
  border: none;
  height: 30px;
  margin-left: 20px;
}
