.main-container {
  margin-top: 90px;
  min-height: 78.5vh;
}

.container-hero{
  display: flex;
  width: 1260px;
  margin-top: 100px;
  margin: auto;
}

.hero-container-text{
  width: 800px;
  height: 550px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

.container-subtitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.banner-container-collectibles {
  width: 800px;
  height: 400px;
  padding-right: 50px;
  // display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 100px;
}

.collectible-show-container {
  display: flex;
  justify-content: space-between;
}

.buy-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sell-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-sell-container {
  border: 1px solid #002d4d;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  height: 250px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ask-sell-form, .bid-buy-form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;

}

.bid-buy-container, .ask-sell-container {
  width: 100%;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;

  .div {
    margin-top: 24px;
    background-color: white;
    height: 150px;
    padding: 20px;

  }
}

.search-container {
  position: relative;
  width: 80%;
  .fa-search {
    position: absolute;
    top: 47%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
  }
  .input-text {
    // width: 0px;
    // border: 0px;
    background-color: #fff;
    padding: 30px 40px;
    font-size: 20px;
  }
  .rounded-search-form {
    border-radius: 50px;
  }
}
