.container-hero{
  display: flex;
  width: 1260px;
  margin-top: 100px;
  margin: auto;
}

.hero-container-text{
  width: 800px;
  height: 550px;
  padding-right: 50px;
  display: flex;
    flex-direction: column;
    justify-content: space-around
}

.container-subtitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.banner-container-collectibles {
  width: 800px;
  height: 550px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around
}
.collectible-show-container {
  display: flex;
  justify-content: space-between;
}

.buy-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sell-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-sell-container {
  border: 1px solid #002d4d;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  height: 250px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ask-sell-form, .bid-buy-form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;

}

.bid-buy-container, .ask-sell-container {
  width: 100%;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;

  .div{
    margin-top: 24px;
    background-color: white;
    height: 150px;
    padding: 20px;

  }
}
