.ellipse-img{
  position: absolute;
  // width: 610px;
  // height: 610px;
  // border-radius: 100%;
  // background-color: #0386E4;
  // opacity: 15%;
  // filter: blur(4px);
  // box-shadow: 0px 0px 10px #0386E4;
  width: 600px;
  height: 600px;
  z-index: 0;
  left: 50%;
  border-radius: 100%;

}


// .three-ellipses{
// box-shadow: 0px 0px 10px 1px rgba(3, 134, 228, 0.21);
// width: 19px;
// height: 19px;
// border-radius: 100%;
// display: flex;
// }
// .first-ellipse{
//     background: #038AD4;
// }
// .little-ellipse{
//   background: #FFFFFF;
// }
