.footer {
  background-image: asset-url("WaveFooter.svg");
  background-size: cover;
  background-position: bottom;
  display: flex;
  // align-items: flex-end;
  // justify-content: space-between;
  flex-direction: column;
  height: 380px;
  padding: 30px 50px;
  color: rgba(0,0,0,0.3);
  position: relative;
}

.footer-links {
  position: absolute;
  bottom: 32px;
  // img {
  //   width: 30px;
  //   border-radius: 5px;
  // }
}

.footer a {
  color: white;
  font-size: 30px;
}

.footer-brand img{
  width: 120px;
  position: absolute;
  bottom: 100px;
}
