.grid-card{
  display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid-presentation{
  display: grid;
    grid-template-columns: 1200px;
    justify-content: center;
    grid-template-rows: 500px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.collectibles-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 100px;
}

.grid-show-product{
  display: grid;
  grid-template-columns: 800px 1fr;
}

.second-line {
  margin-left: 80px;
}
