.sneakers-img{
  z-index: 1;
  position: absolute;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(-6.35deg);
  width: 550px;
  height: 550px;
  left: 60%;
}

.image-snkrs-banner {
  z-index: 1;
  position: absolute;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(-6.35deg);
  width: 540px;
  height: 450px;
  left: 60%;
}
