.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position:fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 60px;
}

.nav-link {
  color: #038AD4;
}
.user {
  color: #038AD4;
  align-items: center;
  text-align: center;
}
